/* Body */

.body {
  position: relative;
  margin: 75px 0 20px 20px;
}
.mainBody {
  position: relative;
  display: flex;
  background: rgba(255, 255, 255, 0.6);
  padding: 10px 25px;
  border-radius: 15px;
  box-shadow: 0 0 20px #eee;
  max-height: 1000px;
}

.mainBody .leftAside {
  width: 25%;
  text-align: center;
}

.leftAside h2 {
  font-family: 'Homemade Apple', sans-serif;
  color: gray;
  padding: 0 10px;
}

.mainBody img {
  position: inherit;
  padding: 6px 6px;
  margin-bottom: 20px;
  width: 240px;
  border-radius: 20px;
  border-style: solid;
  border-color: silver;
}

.mainBody .rightAside {
  display: flex;
  max-width: 70%;
  margin-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', serif;
}

.resume-body {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}
.resume-body .resume-body__left {
  flex: 0 0 auto;
  width: 80%;
}
.resume-body .resume-body__right {
  flex: 0 0 auto;
  width: 20%;
  padding-left: 1em;
}
.resume-body .resume-body__right h2 {
  font-weight: bold;
}

.experience-list {
  padding-bottom: .5em;
  border-bottom: 2px solid #333;
}
.experience-list:last-of-type {
  border-bottom: 0;
}
.experience-list h2 {
  font-weight: bold;
  margin-bottom: 0;
}
.experience-list .experience {
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: .5em;
  padding-right: .5em;
}
.experience-list .experience:last-of-type {
  border-bottom: 0;
}
.experience-list .experience__title {
  display: flex;
  align-items: stretch;
  line-height: 1em;
}
.experience-list .experience__title h3 {
  flex: 0 0 auto;
  display: block;
  vertical-align: bottom;
  height: 16px;
  margin-bottom: 0;
  margin-right: 1em;
}
.experience-list .experience__title h5 {
  flex: 0 0 auto;
  display: block;
  vertical-align: bottom;
  height: 16px;
  margin-bottom: 0;
  line-height: 1em;
  font-style: italic;
}
.experience-list .experience__title h5 span {
  font-weight: 600;
  font-style: inherit;
}
.experience-list .experience__date {
  display: block;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: .1em;
}
.experience-list .experience__info {
  margin: 0;
}

.experience-list .experience__info li {
  text-align: left;
}

.experience__info p {
  margin-left: 1em;
}

.skill-breakdown__field {
  display: flex;
  justify-content: flex-start;
}
.skill-breakdown {
  font-size: 12px;
}
.skill-breakdown .skills {
  font-size: 12px;
}
