/* Body */

.body {
  position: relative;
  margin: 75px 0 20px 20px;
}
.mainBody {
  position: relative;
  display: flex;
  background: rgba(255, 255, 255, 0.6);
  padding: 10px 25px;
  border-radius: 15px;
  box-shadow: 0 0 20px #eee;
  max-height: 1000px;
}

/* Portfolio */

.gallery {
	position: relative;
	height: 200px;
	background-color: red;
	text-align: center;
}
.gallery .slider h2 {
	font-weight: 200;
	letter-spacing: -0.06em;
	word-spacing: 0.1em;
	font-size: 3em;
}
.gallery a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0, 0, 0, 0.8);
	text-decoration: none;
}
.slider img {
  max-width: 250px;
}

/* SLIDER */

.gallery .slider {
  max-height: 300px;
  display: inline-flex;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/* SLIDES */

.gallery .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: center;
	width: 300px;
	background: none 50% no-repeat;
	background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.gallery .prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}

.gallery .prevNext > div + div {
	visibility: hidden; /* Hide all but first P/N container */
}

.gallery .prevNext a {
	background: #fff;
	position: absolute;
	width: 60px;
	height: 60px;
	line-height: 60px; /* If you want to place numbers */
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
}
.gallery .prevNext a:hover {
	opacity: 1;
}
.gallery .prevNext a + a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

.gallery .bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
.gallery .bullets > a {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.gallery .bullets > a + a {
	background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.gallery .bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.gallery > s:target ~ .bullets > * {
	background: rgba(255, 255, 255, 0.5);
}
/* ACTIVE */
#s1:target ~ .bullets > *:nth-child(1) {
	background: rgba(255, 255, 255, 1);
}
#s2:target ~ .bullets > *:nth-child(2) {
	background: rgba(255, 255, 255, 1);
}
#s3:target ~ .bullets > *:nth-child(3) {
	background: rgba(255, 255, 255, 1);
}
#s4:target ~ .bullets > *:nth-child(4) {
	background: rgba(255, 255, 255, 1);
}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.gallery > s:target ~ .prevNext > * {
	visibility: hidden;
}
/* ACTIVE: */
#s1:target ~ .prevNext > *:nth-child(1) {
	visibility: visible;
}
#s2:target ~ .prevNext > *:nth-child(2) {
	visibility: visible;
}
#s3:target ~ .prevNext > *:nth-child(3) {
	visibility: visible;
}
#s4:target ~ .prevNext > *:nth-child(4) {
	visibility: visible;
}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {
	transform: translateX(0%);
	-webkit-transform: translateX(0%);
}
#s2:target ~ .slider {
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
}
#s3:target ~ .slider {
	transform: translateX(-200%);
	-webkit-transform: translateX(-200%);
}
#s4:target ~ .slider {
	transform: translateX(-300%);
	-webkit-transform: translateX(-300%);
}
/* More slides? Add here more rules */

/* YOU'RE THE DESIGNER!
   ____________________
   All above was mainly to get it working :)
   gallery CUSTOM STYLES / OVERRIDES HERE: */
